<!-- Sidebar -->
<div class="sidebar"
     (mouseenter)="isSidebarHovered = true"
     (mouseleave)="isSidebarHovered = false"
     [ngClass]="{'expanded': isSidebarHovered || isSidebarOpen}">
  <div class="sidebar-content">
    <ul class="nav flex-column">
      <!-- Menu Tarefas -->
      <li class="nav-item" [ngClass]="{ 'open': isSubmenuOpen, 'disabled': !isSidebarHovered && !isSidebarOpen }">
        <a class="nav-link" (click)="toggleSubmenu()">
          <i class="fa-solid fa-list-check"></i>
          <span class="link-text">Tarefas</span>
        </a>
        <!-- Submenu -->
        <ul *ngIf="isSubmenuOpen && (isSidebarHovered || isSidebarOpen)" class="nav flex-column ms-3">
          <li class="nav-item">
            <a class="nav-link" routerLink="tarefas/criar">
              <i class="fas fa-plus"></i> Criar Tarefa
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="tarefas/visualizar">
                <i class="fa-solid fa-cubes-stacked"></i> Visualizar Tarefas
              </a>
          </li>
          <!-- Adicione mais itens de submenu conforme necessário -->
        </ul>
      </li>

      <!-- Menu Profile -->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">-->
<!--          <i class="fas fa-user"></i>-->
<!--          <span class="link-text">Profile</span>-->
<!--        </a>-->
<!--      </li>-->

      <!-- Menu Settings -->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">-->
<!--          <i class="fas fa-cogs"></i>-->
<!--          <span class="link-text">Settings</span>-->
<!--        </a>-->
<!--      </li>-->
    </ul>
  </div>
</div>
