/* You can add global styles to this file, and also import other style files */
.card-superior{
  left: 4.5rem;
  width: 76.5rem;
  max-width: 100%;
  height: auto;
}
.card-width{
  left: 4.5rem;

  width: 75rem;

}

body{
  padding-top: 60px;
}
